body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

main {
    padding: 1rem;
}

.main-header {
    width: 100%;
    height: 3.5rem;
    background-color: rgb(230, 201, 75);
    padding: 0 1.5rem;
}

.main-header__nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.main-header__item-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-header__item {
    margin: 0 1rem;
    padding: 0;
}

.main-header__item a {
    text-decoration: none;
    color: black;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
   color: rgb(144, 65, 190);
}

.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
    width: 100%;
}

.form-control input {
    border: 1px solid #dbc441;
    font: inherit;
    border-radius: 2px; 
    margin-bottom: 1rem;
}

button {
    font: inherit;
    border: 1px solid #6200ff;
    background: #dbc441;
    color: #6200ff;
    border-radius: 3px;
    cursor: pointer;
}

button:hover,
button:active {
    background-color: #6200ff;
    color: white;
}